doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery/dist/jquery.js')
    script(src='bootstrap-css/js/bootstrap.js')
    script(src='angular/angular.js')
    link(rel='stylesheet', href='bootstrap-css/css/bootstrap.css')

    body
    block content

